<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir Usuario</title>
</head>
<body>
    <h1>Nuevo Usuario</h1>
    
 
    <form th:action="@{/usuario}" th:object="${usuario}" th:method="post">
    	<p>DNI: <input type="text" th:field="*{dni}" /></p>
        <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
        <p>Email: <input type="email" th:field="*{email}" /></p>
        <p>Rol: 
            <select th:field="*{rol}">
                <option value="DEPORTISTA">Deportista</option>
                <option value="MEDICO">Médico</option>
                <option value="ENTRENADOR">Entrenador</option>
            </select>
        </p>
        <p><input class="boton" type="submit" value="Crear Usuario" /> 
        <input  class="boton" type="reset" value="Reset" /></p>
    </form>
    <a th:href="@{/}">Atrás</a>
 

</body>
</html>