<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
<head>
    <title>Añadir Usuario</title>
    <link href="style.css" rel="stylesheet"/>

</head>
<header>
    <h1>Gestión de Usuarios</h1>
</header>
<body>

    <div class = "container">
    <h1>Añadir nuevo usuario</h1>    
    <form th:action="@{/usuario}" th:object="${usuario}" th:method="post">
    	<p>DNI: <input type="text" th:field="*{dni}" /></p>
        <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
        <p>Email: <input type="email" th:field="*{email}" /></p>
        <p>Rol: 
            <select th:field="*{rol}">
                <option value="DEPORTISTA">Deportista</option>
                <option value="MEDICO">Médico</option>
                <option value="ENTRENADOR">Entrenador</option>
            </select>
        </p>
        <p><input class="boton" type="submit" value="Crear Usuario" /> 
        <input  class="boton" type="reset" value="Reset" /></p>
    </form>
    <a th:href="@{/listUsuario}"> ⬅ Atrás</a>
    </div>
 

</body>
<footer>
    <p>&copy; 2025 Proyecto Ares</p>
</footer>
</html>