<!DOCTYPE html>
<html>
<head>
  <title> Usuarios</title>
 
  
</head>
<body>
    <h1>USUARIOS  </h1>
    
  <table>   
    <tr>  
        <th> Id </th>
        <th> Nombre </th>
        <th> email </th>
        <th> Rol</th>
        <th> Delete </th>

    </tr>
    <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"> celda 1 </td>
            <td th:text="${usuario.nombre}"> celda 2 </td>
            <td th:text="${usuario.email}"> celda 3 </td>
            <td th:text="${usuario.rol}"> celda 4 </td> 
           <td> 
            <form th:method="DELETE"
                th:action="@{/usuario/{id}(id=${usuario.id})}">
                <input type="submit" class="delete btn btn-sm btn-danger"
                    value="Eliminar" />
            </form>
           </td> 
        </tr> 

    </tbody>
  </table>
    <h2>Las operaciones disponibles son:</h2>
    <lu>
        <li> <a href="/listUsuario"> Listar Usuarios </a> </li>
        <li> <a href="/addUsuario"> Anyadir Usuario </a> </li>

    </lu>
    
</body>
</html>
