<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios Registrados</h1>
    <a th:href="@{/holaa}">⬅ Volver al inicio</a>
    <br><br>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}">1</td>
                <td th:text="${usuario.dni}">12345678Z</td>
                <td th:text="${usuario.nombre}">Nombre Ejemplo</td>
                <td th:text="${usuario.email}">email@ejemplo.com</td>
                <td th:text="${usuario.rol}">DEPORTISTA</td>
                <th>Operaciones</th>
                <td>
                    <a th:href="@{/editUsuario/{id}(id=${usuario.id})}">Editar</a>
                </td>
                <td>
                    <div class="btn-group">
                        <form th:method="DELETE"
                            th:action="@{/usuario/{id}(id=${usuario.id})}">
                            <input type="submit" class="delete btn btn-sm btn-danger"
                                value="Eliminar" />
                        </form>

                        <form th:method="GET"
                            th:action="@{/editUsuario/{id}(id=${usuario.id})}">
                            <input type="submit" class="primary btn btn-sm btn-primary" 
                                value="Editar" />
                        </form>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${delete != null && delete}" class="alert alert-success">
        <strong>OK </strong> El usuario ha sido eliminada correctamente.
    </div>
    <div th:if="${delete != null && !delete}" class="alert alert-danger">
        <strong>Error </strong> Error eliminado el usuario.
    </div>
    <div th:if="${update != null && update}" class="alert alert-success">
        <strong>OK </strong> El usuario ha sido actualizado correctamente.
    </div>
    <div th:if="${update != null && !update}" class="alert alert-danger">
        <strong>Error </strong> Error al actualizar el usuario.
    </div>
    <div th:if="${create != null && create}" class="alert alert-success">
        <strong>OK </strong> El usuario ha sido creado correctamente.
    </div>
    <div th:if="${create != null && !create}" class="alert alert-danger">
        <strong>Error </strong> Error al crear el usuario.
    </div>
    <div class="panel-footer">
   
        <a class="btn btn-sm btn-success"th:href="@{/addUsuario}"> Añadir nuevo usuario</a>

        <a class="btn btn-sm btn-primary" th:href="@{/}">Atrás</a>
    </div>
</body>
</html>


