<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Usuario</title>
</head>
<body>
    <h1>Editar Usuario</h1>
    
    <form th:action="@{/guardarUsuario}" th:object="${usuario}" method="post">
        
        <input type="hidden" th:field="*{id}" />

        <label>DNI:</label>
        <input type="text" th:field="*{dni}" /><br><br>

        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" /><br><br>

        <label>Email:</label>
        <input type="email" th:field="*{email}" /><br><br>

        <label>Rol:</label>
        <input type="text" th:field="*{rol}" /><br><br>

        <button type="submit">Actualizar</button>
    </form>
</body>
</html>