<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Usuario</title>
    <link href="/style.css" rel="stylesheet"/>
</head>
<header>
    <h1>Gestión de Usuarios</h1>
</header>
<body>
    
    <div class = "container">
    <h1>Editar Usuario</h1>
    <form th:object="${usuario}" th:action="@{/usuario}"  th:method="put" style="margin: 10px">
        
        <p><label>ID</label> <input type="number"
                            th:field="${usuario.id}"
                            autofocus="autofocus" readonly placeholder="ID"/></p>
        
        <p><label>DNI</label> <input type="text"
                            th:field="${usuario.dni}"
                            autofocus="autofocus" placeholder="DNI"/> </p> 
          
        <p><label>Nombre</label> <input type="text"
                            th:field="${usuario.nombre}"
                            autofocus="autofocus" placeholder="Nombre"/> </p>  
            
        <p><label>Email</label> <input type="email"
                            th:field="${usuario.email}"
                            autofocus="autofocus" placeholder="Email"  /></p>
        
        <p>Rol: 
            <select th:field="*{rol}">
                <option value="DEPORTISTA">Deportista</option>
                <option value="MEDICO">Médico</option>
                <option value="ENTRENADOR">Entrenador</option>
            </select>
        </p>
       
        <div class="btn-group">
        <input class="boton" 
           type="submit" 
           value="Guardar Usuario" 
           style="width: 100%;" />  
        </div>
			<a th:href="@{/listUsuario}" >Atrás</a> </div>
    </form>
    </div>
</body>
<footer>
    <p>&copy; 2025 Proyecto Ares</p>
</footer>
</html>